{
  "plugins": [
    "eslint-plugin-prettier"
  ],
  "extends": [
    "get-off-my-lawn",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "import/order": "off",
    "camelcase": "off",
    "no-use-before-define": "off",
    "unicorn/no-for-loop": "off",
    "no-await-in-loop": "off",
    "react/forbid-elements": "off",
    "@typescript-eslint/no-use-before-define": [
      "error"
    ],
    "react/jsx-filename-extension": [
      2,
      {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx",
          ".css"
        ]
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}
