$background-color: #222222;
$logo-color: #103EFF;
$loading-indicator-size: 5rem;
$height-of-DORAmeter-logo: 50px;

body {
  font-family: Helvetica, sans-serif;
  overflow-x: hidden;
  background: $background-color
}

.layout {
  display: flex;
  flex-direction: column;
}

.header {
  padding-top: 1%;
  display: flex;
  justify-content: center;
}

.dorameter-logo {
  height: $height-of-DORAmeter-logo;
  width: 100vw;
};

.error {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-logo {
  height: 5rem;
};

.apps {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media screen and (max-width: 768px) {
  .app-metric-details {
    min-width: 44%;
  }
}

@media screen and (max-width: 480px) {
  .app-metric-details {
    min-width: 100%;
  }
}

.app-metric-details {
  display: flex;
  flex-direction: column;
  flex: 0 1 33%;
  color: white;
  margin: 2% 0;
}

.app-metric-details div {
  margin: 2% 5%;
}

.app-metric-details img {
  height: 25px;
}

.app-metric-details-header {
  font-size: 20px;
  font-weight: bold;
  margin-left: 5%;
}

.app-metric-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@keyframes loading-spinner {
  to {transform: rotate(360deg);}
}

.loading-spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: $loading-indicator-size;
  height: $loading-indicator-size;
  margin-top: -$loading-indicator-size/2;
  margin-left: -$loading-indicator-size/2;
  border-radius: 50%;
  border-top: 2px solid $logo-color;
  border-right: 2px solid transparent;
  animation: loading-spinner .6s linear infinite;
}
